{% extends "layout.html" %}
{% block content %}
<h2 style="text-align:center;">All Payments</h2>
<div style="text-align: center; margin-bottom: 20px;">
    <a href="{{ url_for('admin_dashboard') }}" 
       style="display: inline-block;
              padding: 10px 20px;
              background-color: #6c63ff;
              color: white;
              border: none;
              border-radius: 6px;
              text-decoration: none;
              font-weight: bold;
              box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
      ← Back
    </a>
  </div>

<table border="1" style="margin:auto; border-collapse: collapse; width:80%;">
    <tr style="background:#eee; text-align:center;">
        <th>ID</th>
        <th>Patient</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    {% for pay in payments %}
    <tr style="text-align:center;">
        <td>{{ pay[0] }}</td>   {# payment id #}
        <td>{{ pay[1] }}</td>   {# patient name #}
        <td>₹{{ pay[2] }}</td>  {# amount #}
        <td>{{ pay[3] }}</td>   {# created_at #}
    </tr>
    {% endfor %}
</table>
{% endblock %}
